<div class="m-t-3xl m-b-3xl p-t-2xl justifying-containter">
	<mat-card appearance="outlined" class="public-card">
		<div class="p-l-xl p-r-xl">
			<div *ngIf="!tokenIsValid" class="m-b-3xl">
				<div>
					<h1>{{ serverErrorMessage }}</h1>
				</div>
				<div class="m-t-3xl">
					<a routerLink="/forgotpwd">Request New Password?</a>
				</div>
			</div>
			<div *ngIf="tokenIsValid">
				<div>
					<h1>Setting New Password</h1>
				</div>
				<div *ngIf="passwordWasReset">
					<div class="m-t-3xl">
						Password was successfully reset for {{ tokenInfo.email }}
					</div>
					<div class="m-t-3xl m-b-xl">
						<button mat-raised-button class="mat-primary font-size-l button-l" routerLink="/">
							SIGN IN
						</button>
					</div>
				</div>
				<div *ngIf="!passwordWasReset">
					<div *ngIf="serverErrorMessage !== undefined" class="form-error-block">
						{{ serverErrorMessage }}
					</div>
					<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
						<div class="m-t-3xl">
							<mat-form-field class="public-field">
								<input
									[(ngModel)]="model.password"
									#password="ngModel"
									name="password"
									required
									matInput
									placeholder="Password"
									type="password"
								>
							</mat-form-field>
						</div>
						<div class="m-t-xl">
							<mat-form-field class="public-field">
								<input
									[(ngModel)] = "misc.confirmPassword"
									#confirmPassword = "ngModel"
									name="confirmPassword"
									required
									matInput
									placeholder="Confirm Password"
									type="password"
								>
							</mat-form-field>
							<div class="field-error-block" [hidden]="confirmPassword.value === password.value || confirmPassword.pristine">
								Passwords don't match
							</div>
						</div>
						<div class="m-t-2xl p-b-2xl justifying-containter">
							<div class="m-t-xl">
								<button mat-raised-button class="mat-primary font-size-l button-l" [disabled]="!f.valid" type="submit">
									Set New Password
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</mat-card>
</div>
