<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="eng">
        <th mat-header-cell *matHeaderCellDef>Eng H/C</th>
        <td mat-cell *matCellDef="let company">{{ company.eng || "" }}</td>
    </ng-container>

    <ng-container matColumnDef="sales">
        <th mat-header-cell *matHeaderCellDef>Sales H/C</th>
        <td mat-cell *matCellDef="let company">{{ company.sales || "" }}</td>
    </ng-container>

    <ng-container matColumnDef="percentEng">
        <th mat-header-cell *matHeaderCellDef>H/C Eng%</th>
        <td mat-cell *matCellDef="let company">
            {{ company.percentEng || "" }}
        </td>
    </ng-container>

    <ng-container matColumnDef="percentSales">
        <th mat-header-cell *matHeaderCellDef>H/C Sales%</th>
        <td mat-cell *matCellDef="let company">
            {{ company.percentSales || "" }}
        </td>
    </ng-container>

    <ng-container matColumnDef="cbLastFundingDate">
        <th mat-header-cell *matHeaderCellDef>Days snc last rnd</th>
        <td mat-cell *matCellDef="let company">
            {{ company.cbLastFundingDate || "" }}
        </td>
    </ng-container>

    <ng-container matColumnDef="cbLastSeries">
        <th mat-header-cell *matHeaderCellDef>Last series</th>
        <td mat-cell *matCellDef="let company">
            {{ company.cbLastSeries || "" }}
        </td>
    </ng-container>

    <ng-container matColumnDef="cbLastPremoneyUsd">
        <th mat-header-cell *matHeaderCellDef>Last val.</th>
        <td mat-cell *matCellDef="let company">
            {{ company.cbLastPremoneyUsd || "" }}
        </td>
    </ng-container>

    <ng-container matColumnDef="growth6Eng">
        <th mat-header-cell *matHeaderCellDef>6mo eng Δ</th>
        <td mat-cell *matCellDef="let company">
            {{ company.growth6Eng ? company.growth6Eng + "%" : "" }}
        </td>
    </ng-container>

    <ng-container matColumnDef="growth6Sales">
        <th mat-header-cell *matHeaderCellDef>6mo sales Δ</th>
        <td mat-cell *matCellDef="let company">
            {{ company.growth6Sales ? company.growth6Sales + "%" : "" }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
