<div class="m-t-6xl">
    <div class="m-t-3xl">
        <div class="p-l-l p-r-l m-b-xl">
            <form novalidate [formGroup]="form" class="m-b-l">
                <div class="flex-container">
                    <div>
                        <mat-form-field class="regular-field m-r-l">
                            <mat-select
                                placeholder="Scaling"
                                formControlName="scaling"
                                (selectionChange)="
                                    updateCompanyValuesToDisplay()
                                "
                            >
                                <mat-option
                                    *ngFor="let scaling of scalings"
                                    [value]="scaling"
                                >
                                    {{ getScalingName(scaling) }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field
                            class="regular-field m-r-l"
                            (keyup)="updateCompanyValuesToDisplay()"
                        >
                            <input
                                formControlName="search"
                                name="search"
                                matInput
                                placeholder="Search"
                            />
                        </mat-form-field>
                        <mat-form-field class="regular-field m-r-l">
                            <mat-select
                                placeholder="Cities"
                                formControlName="cities"
                                multiple
                                (selectionChange)="
                                    updateCompanyValuesToDisplay()
                                "
                            >
                                <mat-option
                                    *ngFor="let city of cities"
                                    [value]="city"
                                >
                                    {{ city }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="regular-field m-r-l">
                            <mat-select
                                placeholder="Tags"
                                formControlName="tags"
                                multiple
                                (selectionChange)="
                                    updateCompanyValuesToDisplay()
                                "
                            >
                                <mat-option
                                    *ngFor="let tag of tags"
                                    [value]="tag"
                                >
                                    {{ tag }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field
                            class="regular-field m-r-l"
                            (keyup)="updateCompanyValuesToDisplay()"
                        >
                            <input
                                formControlName="daysSinceLastRound"
                                name="daysSinceLastRound"
                                matInput
                                placeholder="Days Since Last Round"
                            />
                        </mat-form-field>
                        <mat-checkbox
                            class="regular-field m-r-l"
                            formControlName="excludeUnknown"
                            (change)="updateCompanyValuesToDisplay()"
                            >Exclude Unknown</mat-checkbox
                        >
                        <mat-checkbox
                            class="regular-field m-r-l"
                            formControlName="europeanOnly"
                            (change)="updateCompanyValuesToDisplay()"
                            >European Only</mat-checkbox
                        >
                        <mat-checkbox
                            formControlName="ignored"
                            (change)="updateCompanyValuesToDisplay()"
                            >Show Ignored Companies</mat-checkbox
                        >
                    </div>
                </div>
                <div
                    class="text-right m-t"
                    *ngIf="!isDataLoading && lastUpdated"
                >
                    <small
                        >Last updated: {{ lastUpdated | date: "short" }}. Count:
                        {{ filteredCompanyValuesCount }}.</small
                    >
                </div>
            </form>

            <mat-accordion displayMode="flat" multi class="">
                <section matSort class="mat-header-row mat-table">
                    <span class="mat-header-cell" mat-sort-header="name"
                        >Name</span
                    >
                    <span class="mat-header-cell" mat-sort-header="mavgTrend"
                        >3mo h/c Δ</span
                    >
                    <span class="mat-header-cell" mat-sort-header="maTrend"
                        >12mo h/c Δ</span
                    >
                    <span class="mat-header-cell" mat-sort-header="robscore"
                        >Robscore</span
                    >
                    <span
                        class="mat-header-cell"
                        mat-sort-header="educationScore"
                        >EduScore</span
                    >
                </section>

                <mat-card
                    appearance="outlined"
                    class="company-item"
                    *ngFor="let c of companiesToDisplay$ | async"
                >
                    <div class="company-header-container flex-wrap">
                        <div class="company-main">
                            <div class="company-name">
                                <a routerLink="/i/gwl/{{ getUrlSlug(c) }}">{{
                                    c.name
                                }}</a>
                            </div>
                            <div>
                                <small
                                    ><span *ngIf="c.location?.length > 3"
                                        >{{ c.location }}
                                    </span>
                                    <span *ngIf="c.calculatedLocation"
                                        >(Weighted:
                                        {{ c.calculatedLocation }})</span
                                    ></small
                                >
                            </div>
                            <div>
                                <div *ngIf="c.tags !== ''">
                                    <small
                                        >Tags: <em>{{ c.tags }}</em></small
                                    >
                                </div>
                                <div class="company-links-container m-t m-b">
                                    <div class="m-t-xs">
                                        <app-company-links
                                            [company]="c"
                                        ></app-company-links>
                                    </div>
                                    <div class="ignore-button m-l-l">
                                        <button
                                            *ngIf="!isIgnoreBeingUpdated(c)"
                                            mat-button
                                            class="mat-primary"
                                            (click)="toggleIgnoreCompany(c)"
                                        >
                                            {{
                                                c.ignore
                                                    ? "Undo Ignore"
                                                    : "Ignore"
                                            }}
                                        </button>
                                        <span *ngIf="isIgnoreBeingUpdated(c)">
                                            {{
                                                c.ignore
                                                    ? "Undoing Ignore..."
                                                    : "Ignoring..."
                                            }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex-container company-main-kpis m-t m-b-l">
                            <div class="kpi-card">
                                <app-kpi-card
                                    [name]="
                                        '
                                    3mo h/c Δ'
                                    "
                                    [value]="c.mavgTrend"
                                    [isBig]="true"
                                ></app-kpi-card>
                            </div>
                            <div class="kpi-card">
                                <app-kpi-card
                                    [name]="
                                        '
                                        12mo h/c Δ'
                                    "
                                    [value]="c.maTrend"
                                    [isBig]="true"
                                ></app-kpi-card>
                            </div>
                            <div class="kpi-card">
                                <app-kpi-card
                                    [name]="
                                        '
                                        Robscore'
                                    "
                                    [value]="c.robscore"
                                    [isBig]="true"
                                ></app-kpi-card>
                            </div>
                            <div class="kpi-card">
                                <app-kpi-card
                                    [name]="
                                        '
                                        EduScore'
                                    "
                                    [value]="c.educationScore"
                                    [isBig]="true"
                                ></app-kpi-card>
                            </div>
                        </div>
                    </div>

                    <div>
                        <app-chart [company]="c"></app-chart>
                    </div>

                    <div class="m-t-xl m-b-2xl">
                        <app-company-details-by-cards
                            [company]="c"
                        ></app-company-details-by-cards>
                    </div>
                </mat-card>
            </mat-accordion>

            <mat-spinner
                *ngIf="isDataLoading"
                class="m-t-2xl spinner"
            ></mat-spinner>
        </div>
        <div class="m-t-xl m-b-2xl mat-elevation-z8">
            <div class="flex-container justify-content-space-evenly">
                <mat-paginator
                    *ngIf="!isDataLoading"
                    [length]="filteredCompanyValuesCount"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions"
                    (page)="onPage($event)"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
