<div class="m-t-6xl m-b company-view">
    <card-template *ngIf="company">
        <div class="company-view-header-container flex-wrap m-b-l">
            <div class="title m-b-l">
                <div>
                    <div class="company-name">{{ company?.name }}</div>
                    <div>
                        <small>
                            <span *ngIf="company.location?.length > 3"
                                >{{ company.location }}
                            </span>
                            <span *ngIf="company.calculatedLocation"
                                >(Weighted: {{ company.calculatedLocation }})
                            </span>
                        </small>
                    </div>
                </div>
            </div>
            <div class="kpis m-t-l">
                <div class="kpi-card-main">
                    <app-kpi-card
                        [name]="'3mo h/c Δ'"
                        [value]="company.mavgTrend"
                        [percentageMode]="true"
                        [isBig]="true"
                    ></app-kpi-card>
                </div>
                <div class="kpi-card-main">
                    <app-kpi-card
                        [name]="'12mo h/c Δ'"
                        [value]="company.maTrend"
                        [percentageMode]="true"
                        [isBig]="true"
                    ></app-kpi-card>
                </div>
                <div class="kpi-card-main">
                    <app-kpi-card
                        [name]="'Robscore'"
                        [value]="company.robscore"
                        [isBig]="true"
                    ></app-kpi-card>
                </div>
                <div class="kpi-card-main">
                    <app-kpi-card
                        [name]="'EduScore'"
                        [value]="company.educationScore"
                        [isBig]="true"
                    ></app-kpi-card>
                </div>
            </div>
        </div>
        <div>
            <div *ngIf="company.tags !== ''">
                <small
                    >Tags: <em>{{ company.tags }}</em></small
                >
            </div>
            <div class="m-t m-b">
                <app-company-links [company]="company"></app-company-links>
            </div>
        </div>
        <div class="m-b-xl">
            <app-chart [company]="company"></app-chart>
        </div>
        <app-company-details-by-cards
            [company]="company"
        ></app-company-details-by-cards>
        <div class="capsule-container flex-wrap">
            <div class="company-info p-r-xl m-t-xl">
                <app-capsule-details
                    [capsuleDetails]="capsuleDetails"
                ></app-capsule-details>
            </div>
            <div class="notes m-t-xl" *ngIf="hasCapsuleGetNotesPermission()">
                <div *ngIf="capsuleDetails">
                    <div class="flex-container p-b-xl">
                        <div>
                            <app-last-contact
                                [capsuleDetails]="capsuleDetails"
                            ></app-last-contact>
                        </div>
                        <div class="text-right">
                            <button
                                mat-raised-button
                                class="mat-primary"
                                type="button"
                            >
                                Add new note
                            </button>
                        </div>
                    </div>
                </div>
                <app-capsule-notes
                    [capsuleNotes]="capsuleNotes"
                ></app-capsule-notes>
            </div>
        </div>
        <div class="">
            <button
                mat-button
                class=""
                (click)="toggleDebugInfo()"
                type="button"
            >
                {{ showDebugInfo ? "Hide Debug Info" : "Show Debug Info" }}
            </button>
        </div>
        <div *ngIf="showDebugInfo">
            <mat-tab-group class="m-t-l">
                <mat-tab label="RobScore">
                    <div class="m-t">
                        <ngx-json-viewer
                            [json]="company"
                            [expanded]="false"
                        ></ngx-json-viewer>
                    </div>
                </mat-tab>
                <mat-tab label="Capsule Details">
                    <div class="m-t">
                        <ngx-json-viewer
                            [json]="capsuleDetails"
                            [expanded]="false"
                        ></ngx-json-viewer>
                    </div>
                </mat-tab>
                <mat-tab label="Capsule Notes">
                    <div class="m-t">
                        <ngx-json-viewer
                            [json]="capsuleNotes"
                            [expanded]="false"
                        ></ngx-json-viewer>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </card-template>
    <mat-spinner *ngIf="!company" class="m-t-2xl spinner"></mat-spinner>
</div>
