.company-view {
    font-family: "Inter";
    h1 {
        margin-bottom: 7px;
    }
}

.capsule-container {
    display: flex;
}

.capsule-container > .company-info {
    flex: 1;
}

.capsule-container > .notes {
    flex: 2;
}

.kpi-card-main {
    margin-bottom: 20px;
}

.company-view-header-container {
    font-family: "Inter";
    display: flex;
}

.company-view-header-container > .title {
    flex: 1;
}

.company-view-header-container > .kpis {
    flex: 2;
    display: flex;

    div {
        flex: 1;
    }
}

@media only screen and (min-width: 600px) {
    .company-name {
        font-size: 2.2em !important;
    }
}

.company-name {
    font-family: "Roboto Slab";
    min-width: 280px;
    font-size: 1.5em;
    font-weight: 600;
}
