<div>
  <div>
    <form *ngIf="searchFieldEnabled" [formGroup]="form">
      <div class="search-container">
        <div class="search-box">
          <mat-form-field class="search-field">
            <input
                    formControlName="search"
                    name="search"
                    matInput
                    placeholder="Search">
          </mat-form-field>
        </div>
      </div>
    </form>
    <mat-tab-group>
      <mat-tab label="Active ({{getFilteredActiveEntities()?.length}})">
        <app-entity-table [entities]="getFilteredActiveEntities()"
                          (event)="propagateEvent($event)"
                          [fieldLabels]="fieldLabels"
                          [fields]="fields"
                          [eventTypes]="eventTypesForActiveEntities"
                          [pathToViewComponent]="pathToViewComponent">
        </app-entity-table>
      </mat-tab>
      <mat-tab label="Archived ({{getFilteredArchivedEntities()?.length}})">
        <app-entity-table [entities]="getFilteredArchivedEntities()"
                          (event)="propagateEvent($event)"
                          [fieldLabels]="fieldLabels"
                          [fields]="fields"
                          [eventTypes]="eventTypesForArchivedEntities"
                          [pathToViewComponent]="pathToViewComponent">
        </app-entity-table>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="addEntityEnabled" [class]="addEntityButtonClass">
    <button mat-fab class="font-size-2xl font-weight-300" (click)="addEntity()">+</button>
  </div>
</div>
