<div class="p-t justifying-containter">
	<mat-card appearance="outlined" class="public-card">
		<div class="p-l-xl p-r-xl">
			<div>
				<h1>Sign In</h1>
			</div>
			<div *ngIf="serverErrorMessage !== undefined" class="form-error-block">
				{{serverErrorMessage}}
			</div>
			<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
				<div class="m-t-3xl">
					<mat-form-field class="public-field">
						<input
							[(ngModel)]="model.email"
							#email="ngModel"
							name="email"
							required
							matInput
							placeholder="Email"
							type="email"
							pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
						>
					</mat-form-field>
					<div class="field-error-block" [hidden]="!email.hasError('pattern') || email.pristine || email.untouched">
						Enter correct email
					</div>
				</div>
				<div class="m-t-xl">
					<mat-form-field class="public-field">
						<input
							[(ngModel)]="model.password"
							#password="ngModel"
							name="password"
							required
							matInput
							placeholder="Password"
							type="password"
						>
					</mat-form-field>
				</div>
				<div class="m-t-2xl p-b-2xl justifying-containter">
					<div class="m-t-xl">
						<button mat-raised-button class="mat-primary font-size-l button-l" [disabled]="!f.valid" type="submit">
							SIGN IN
						</button>
					</div>
				</div>
				<!--<div class="m-b-xl">-->
					<!--<a routerLink="/forgotpwd">Forgot Password?</a>-->
				<!--</div>-->
			</form>
		</div>
	</mat-card>
</div>
