.capsule-details {
    font-family: "Inter";
}

.field-header {
    font-size: 1em;
    font-weight: 500;
    color: #636363;
}

.field-value {
    font-size: 1.2em;
    font-weight: 500;
}

.company-name {
    font-family: "Roboto Slab";
    font-size: 1.3em;
    font-weight: 600;
}

@media only screen and (min-width: 600px) {
    .company-name {
        font-size: 2em !important;
    }
}
