<div class="flex-table">
  <table>
    <thead>
      <th *ngFor="let fieldLabel of fieldLabels">{{fieldLabel}}</th>
      <th width="100px"></th>
    </thead>
    <tbody class="m-b-s font-size-l">
      <tr *ngFor="let entity of entities">
        <td *ngFor="let field of fields; let i = index;">
          <a *ngIf="i === 0" routerLink="{{pathToViewComponent}}/{{entity._id}}">
            {{entity[field]}}
          </a>
          <span *ngIf="i !== 0">{{entity[field]}}</span>
        </td>
        <!--<td>-->
          <!--<a routerLink="/i/admin/entitys/{{entity._id}}">-->
            <!--{{entity.name}}-->
          <!--</a>-->
        <!--</td>-->
        <td class="text-right">
          <app-entity-menu [id]="entity._id" [eventTypes]="eventTypes" (event)="propagateEvent($event)"></app-entity-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>