@import "../../../assets/styles/variables";

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: $mat-color-500;
    color: $mat-color-50;
    font-size: 0.8em;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}