.author {
    color: #000000;
    font-weight: 600;
    padding-bottom: 4px;
}

.note-content {
    font-size: 1em;
    word-break: break-all;
}

.author-img {
    height: 40px;
    border-radius: 50%;
}

.note-date {
    font-size: 0.8em;
}
