.score-card {
    margin-bottom: 10px;
}

@media only screen and (min-width: 600px) {
    .company-name {
        font-size: 2.2em !important;
    }

    .main-message {
        font-size: 1.4em !important;
    }

    .secondary-message {
        font-size: 1.2em !important;
    }

    .score-card-section {
        font-size: 1.1em !important;
    }
}

.company-name {
    font-size: 1.5em;
    font-family: "Roboto Slab";
    font-weight: 600;
}

.company-name a:hover {
    text-decoration: none;
}

.location {
    font-size: 0.9em;
    font-weight: 700;
    color: gray;
    font-family: "Inter";
}

.main-message {
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Roboto Slab";
}

.secondary-message {
    font-size: 1.1em;
    font-weight: 600;
    font-family: "Roboto Slab";
}

.column {
    margin: 20px 20px 20px 0px;
}

.m-b {
    margin-bottom: 10px;
}

.m-b-l {
    margin-bottom: 20px;
}

.score-table {
    border-collapse: separate;
    border-spacing: 0 10px;
    tr {
        td {
            padding: 0px 10px 10px 0px;

            mat-icon {
                color: #673ab7;
                font-size: 34px;
                width: 40px;
            }
        }
    }
}

.text-right {
    text-align: right;
}

.score-card-section {
    font-family: "Inter";
    font-weight: 400;
    font-size: 1em;
    min-width: 260px;
    flex: 1;
}

.days-ago {
    font-family: "Inter";
    font-weight: 600;
    font-size: 0.8em;
    font-style: italic;
}

.website {
    font-family: "Roboto Slab";
    font-weight: 400;
}

.last-funding {
    font-family: "Roboto Slab";
}
