<div class="score-card">
    <mat-card appearance="outlined" *ngIf="score && score.payload">
        <div class="">
            <span class="company-name">
                <a [href]="getLink()">
                    {{ score.payload.message.name }}
                </a>
            </span>
            <span class="location">{{ score.payload.locationCity }}</span>
        </div>
        <div class="flex-container flex-wrap">
            <div class="score-card-section m-t-l">
                <div class="main-message m-b">
                    {{ score.payload.message.growthEng }}
                </div>
                <div class="secondary-message m-b-l">
                    {{ score.payload.message.overallGrowth }}
                </div>
                <p class="description m-b-l">
                    {{ score.payload.message.description }}
                </p>
                <div class="tags m-b-l">
                    <p><i>Tags:</i> {{ score.payload.tags }}</p>
                </div>
                <div class="website">
                    <a [href]="score.payload.website">{{
                        score.payload.website
                    }}</a>
                </div>
            </div>
            <div class="score-card-section m-t-l">
                <div class="flex-container m-b-xl">
                    <div class="kpi-card">
                        <app-kpi-card
                            [name]="'Score'"
                            [value]="score.payload.score"
                            [isBig]="true"
                        ></app-kpi-card>
                    </div>
                    <div class="kpi-card">
                        <app-kpi-card
                            [name]="'People'"
                            [value]="score.payload.latestEmployeeCount"
                            [isBig]="true"
                        ></app-kpi-card>
                    </div>
                    <div class="kpi-card">
                        <app-kpi-card
                            [name]="'6mo eng Δ'"
                            [value]="score.payload.growth6_eng"
                            [isBig]="true"
                        ></app-kpi-card>
                    </div>
                    <div class="kpi-card">
                        <app-kpi-card
                            [name]="'12mo eng Δ'"
                            [value]="score.payload.growth12_eng"
                            [isBig]="true"
                        ></app-kpi-card>
                    </div>
                </div>
                <div class="kpi-card last-funding text-center">
                    {{ score.payload.message.last_funding }}
                </div>
            </div>
        </div>
        <div class="text-right days-ago gray m-t">
            {{ getHumanizedTimeAgo() }} ago
        </div>
    </mat-card>
</div>
