<card-template>
    <div class="flex-container">
        <div class="flex-container-left">
            <div>
                <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>
            </div>
        </div>
        <div class="text-right">
            <icon-link-button
                [iconName]="'edit'"
                routerLink="/i/admin/users/{{ user?._id }}/edit"
            ></icon-link-button>
        </div>
    </div>
    <div class="flex-container">
        <div>
            <data-field header="Email" [data]="user?.email"></data-field>
        </div>
        <div>
            <data-field header="Roles" data="{{ user?.roles }}"></data-field>
        </div>
    </div>
</card-template>
